<div class="chat-screen">

  <!-- User details sections -->
<!--   <section class="quick-menu">

      <article class="user-info">

        <header>

          <figure>
            <img class="display-image" src="images/avatar.png" alt="">
            <div class="online-status-color">online</div>
          </figure>

          <div class="user-details">
            <h5 class="user-name">ravi kumar sha</h5>
            <span class="online-status">online</span>
          </div>


        </header>

      </article>

      <article class="search-user">
        <input type="text" class="search">
      </article>

      <nav class="quick-nav">
        <ul>
          <li class="phone"><i class="fa fa-home fa-2x">&nbsp;</i><a href="#">home</a></li>
          <li class="chat-history"><i class="fa fa-history fa-2x">&nbsp;</i><a href="#">groups</a></li>
          <li class="chat-history"><i class="fa fa-history fa-2x">&nbsp;</i><a href="#">chat history</a></li>
        </ul>
      </nav>
  </section> -->

  <section chat-directive class="display-chat-msg">
  
  </section>

  <section class="send-msg">
    <form onsubmit="return false">
      <input type="text" id="chat" data-send-chat-msg="">
    </form>
  </section>

</div>
