<div class="chat-screen">

  <!-- User details sections -->
  <article class="">
    <section class="user-detail">
        <img src="images/avatar.png" alt="">
        <div>
          <span class="user-name">ravi kumar sha</span>
          <span>online</span>
        </div>
    </section>
    h1
    <!-- Logo
    <h1 class="heading"> iConference </h1>

    Logged in user avatar picture
    <div class="avatar">

      <img src="images/avatar.png" alt="{{user.firstname}}">


      container will hold user online status
      <select class="online-status" name="online-status">
        <option ng-repeat="status in user.status">
          <div ng-style="{{status.hexcode}}">{{status.hexcode}}</div>
          <div>{{status.name}}</div>
        </option>
      </select>
    </div> -->

  </section>

</div>
