<div class="dashboard-screen row">	
	<div class="blur">
		
		<!-- <div class="main-container"></div> -->
			<header class="col-xs-12">
				<div class="pull-left col-xs-6 col-lg-9">
					<input class="msg-box" placeholder="send message to your connections">
				</div>
				<div class="pull-right col-xs-6 col-lg-3 user-info">
					<div class="pad-top-25 col-xs-12">
						<figure class="col-xs-5">
							<img src="../images/defaultProfilePic.png" alt="" class="avatar">
							<div class="status status-green">online-status</div>
						</figure>
						<div class="user-name col-xs-8 col-lg-6">ravi kumar sha</div>
						
						<span class="col-xs-1 drop-down-icon">
							<i class="fa fa-chevron-down"></i>
						</span>
					</div>
				</div>

			</header>
		</div>

	</div>
</div>
