<div class="login-screen">
	<div class="login-input-box">
		<form method="post" ng-submit="loginUser()">
			<label for="username"></label>
			<input type="text" id="username" placeholder="username" ng-model="username">

			<label for="password"></label>
			<input type="password" id="password" placeholder="password" ng-model="password">

			<input type="submit" value="Submit">
		</form>
		
		<div class="useful-links">
			<a class="register-user">register</a>
			<a class="forgot-password">forgot your password ?</a>	
		</div>

	</div>

	<footer>
		By signing in you accepts our Terms of Service and Privacy Policy	
	</footer>

</div>